
.service-card {
    transition: all 0.5s ease; 
    cursor: pointer; 
    position: relative; 
    background-color: transparent;

}


.service-card:hover {
    transform: scale(1.1); 
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
