
.dropbtn {
    background-color: transparent;
    color: #212832;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    opacity: 0;
    pointer-events: none; 
    transition:  0.3s ease;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  
  .dropdown:hover .dropdown-content {
    opacity: 1;
    pointer-events: auto; 
  }
  
  
  .dropdown:hover .dropbtn {
    background-color: transparent;
  }  
  
  .featured {
    flex: 2;
    padding: 10px;
  }
  
  .featured .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
  }
  
  .featured .top .title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
  
  .featured .bottom {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  
  .featured .bottom .featuredChart {
    width: 100px;
    height: 100px;
  }
  
  .featured .bottom .title {
    font-weight: 500;
    color: gray;
  }
  
  .featured .bottom .amount {
    font-size: 30px;
  }
  
  .featured .bottom .desc {
    font-weight: 300;
    font-size: 16px;
    color: black;
    text-align: center;
  }
  
  .featured .bottom .summary {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .featured .bottom .summary .item {
    text-align: center;
  }
  
  .featured .bottom .summary .item .itemTitle {
    font-weight: 500;
    color: gray;
  }
  
  .featured .bottom .summary .item .itemResult {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .featured .bottom .summary .item .itemResult.positive {
    color: green;
  }
  
  .featured .bottom .summary .item .itemResult.negative {
    color: red;
  }
  
  .datatable {
    height: 600px;
    padding: 20px;
  }
  
  .datatableTitle {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .datatableTitle .link {
    text-decoration: none;
    color: #FF432A ;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #FF432A;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cellWithImg {
    display: flex;
    align-items: center;
  }
  
  .cellWithImg .cellImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
  
 
  
  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
 
  
  .cellAction .deleteButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: #FF432A;
    border: 1px dotted #FF432A;
    cursor: pointer;
  }
  