.box-shadow{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.box-shadow-two {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dropbtn {
    background-color: transparent;
    color: #212832;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.3s ease;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  
  .dropdown:hover .dropdown-content {
    opacity: 1;
    pointer-events: auto; 
  }
  
  
  .dropdown:hover .dropbtn {
    background-color: transparent;
  }
  